<h1 class="standard-content">EDITANDO PRODUTO</h1>
<section class="reg-section standard-content">

<%= render 'form', product: @product %>

<%= link_to 'Show', @product , class: 'btn btn-outline-primary rails-btn'  %>
<%= link_to 'Back', products_path , class: 'btn btn-outline-primary rails-btn'  %>
</section>
