<section class = "standard-content welcome-section">
<h1>Bem Vindo</h1>
<p>Clique na opção desejada</p>
<%=  link_to "PEDIDOS", orders_path ,class: 'btn btn-primary' %>
<%=  link_to "CLIENTES",  people_path,class: 'btn btn-primary' %>
<%=  link_to "PRODUTOS", products_path ,class: 'btn btn-primary' %>
</section>